.container_image_security {
    background-color: cadetblue;
    border: 1px;
    border-radius: 54%;
    width: 100px;
    text-align: center;
    margin: 22px;
    height: 100px;
    align-content: center;
}